<footer class="footer mt-5 pt-5 bg-dark"> 
    <div class="container"> 
        <div class="row"> 
            <div class="col-md-4 footer-logo"> 
                <img src="../../../assets/logo.png" alt="logo" class="mb-4">
            </div> 
            <div class="col-md-4"> 
                <h5>About Us</h5> 
                <p> 
                    Angular is a web framework that empowers developers to build fast, reliable applications. Maintained by a dedicated team at Google, Angular provides a broad suite of tools, APIs, and libraries to simplify and streamline your development workflow.
                </p> 
            </div> 
            <div class="col-md-4"> 
                <h5>Contact Us</h5> 
                <ul class="list-unstyled"> 
                    <li>Email: info@example.com</li> 
                    <li>Phone: +1233567890</li> 
                    <li>Address: 123 Street, City, Country</li> 
                </ul> 
            </div> 
        </div> 
        <hr> 
        <div class="row"> 
            <div class="col-12"> 
                <p>© 2024 Your Website. All rights reserved.</p> 
            </div> 
        </div> 
    </div> 
</footer> 