<div class="product-list">
    <div class="row d-flex align-items-center">
        <div class="col-12">
            <h1 class="title m-0">{{ title }}</h1>
        </div>
    </div>

    <div *ngIf="isLoading$ | async">
        <div class="row">
            <div class="col-12">
                <ul class="skeleton-loader">
                    <li *ngFor="let i of Arr(num).fill(1)">
                        <div class="image"></div>
                        <div class="title"></div>
                        <div class="description"></div>
                        <div class="price"></div>
                        <div class="button"></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="product-list-inner" *ngIf="products$ | async as products">
        <div class="row">
            <div class="col-12">
                <owl-carousel-o [options]="customOptions" *ngIf="isSlider">
                    <ng-container *ngFor="let item of products" class="prd-card">
                        <ng-template carouselSlide>
                            <div class="image"><img src="{{ item.thumbnail }}"></div>
                            <div class="prd-card-content">
                                <h2 class="title">{{ item.title }}</h2>
                                <p class="description">{{ item.description }}</p>
                                <p class="price">{{ item.price | currency: 'INR' }}</p>
                                <button type="button" class="btn btn-danger" (click)="goToPDP(item.id)">View Product</button>
                            </div>
                        </ng-template>
                    </ng-container>
                </owl-carousel-o>
                <ul *ngIf="!isSlider">
                    <li *ngFor="let item of products" class="prd-card">
                        <div class="image"><img src="{{ item.thumbnail }}"></div>
                        <div class="prd-card-content">
                            <h2 class="title">{{ item.title }}</h2>
                            <p class="description">{{ item.description }}</p>
                            <p class="price">{{ item.price | currency: 'INR' }}</p>
                            <button type="button" class="btn btn-danger" (click)="goToPDP(item.id)">View Product</button>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>